<div id="fullpage">
  <!-- Intro -->
  <div class="section" id="intro">
    <div class="jumbotron center">
      <img class="profile-photo round" src="https://avatars2.githubusercontent.com/u/5469006?s=460&v=4">
      <h1>Alejandro Fernández Haro</h1>
      <p class="lead">
        <span class="glyphicon glyphicon-briefcase"></span>Lead Developer @ <a href="https://www.adstream.com/">Adstream</a><br>
      </p>
      <contact-info></contact-info>
    </div>
  </div>
  <!-- Extract -->
  <div class="section" id="extract">
    <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U1' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell">
                {{'EXTRACT_U1_C1' | translate}}<br>
                <img src="images/product-oriented.png" alt="Product Oriented">
              </div>
              <div class="cell">
                {{'EXTRACT_U1_C2' | translate}}<br>
                <img src="images/fast-learner.png" alt="Fast learner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U2' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell">
                <img src="images/comm-skills.png" alt="Communication skills">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U3' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell">
                <img src="images/bilingual.jpg" alt="Bilingual">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U4' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell">
                <img src="images/case.png" alt="Case On IT">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U5' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell logos">
                {{'EXTRACT_U5_C1' | translate}}<br>
                <img src="images/Raspberry_Pi_Logo.svg" alt="Raspberry Pi">
                <img src="images/Linux.svg" alt="Linux">
              </div>
              <div class="cell logos">
                {{'EXTRACT_U5_C2' | translate}}<br>
                <img src="images/Nodejs.svg" alt="NodeJS">
                <img src="images/MongoDB.png" alt="MongoDB">
                <img src="images/Redis.svg" alt="Redis">
                <img src="images/Mysql.png" alt="MySQL">
              </div>
              <div class="cell logos">
                {{'EXTRACT_U5_C3' | translate}}<br>
                <img src="images/PHP.svg" alt="PHP">
                <img src="images/HTML5.svg" alt="HTML5">
                <img src="images/CSS3.svg" alt="CSS3">
                <img src="images/AngularJS.png" alt="AngularJS">
                <img src="images/jQuery.gif" alt="jQuery">
                <img src="images/JavaScript.png" alt="JavaScript">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="jumbotron aliceblue">
        <h2>{{'EXTRACT' | translate}}</h2>
        <p class="justified">{{'EXTRACT_P1' | translate}}</p>
        <div class="skills center">
          <p>{{'EXTRACT_U6' | translate}}</p>
          <div class="table">
            <div class="row">
              <div class="cell">
                <img src="images/problem-solver.gif" alt="Problem Solver">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Experience -->
  <div class="section" id="experience">
    <div class="jumbotron antiquewhite">
      <h2>{{'EXPERIENCE' | translate}}</h2>
      <p class="justified">{{'EXPERIENCE_P1' | translate}}</p>
      <div class="table center">
        <div class="row">
          <div class="cell companies">
            <img src="images/case.png" alt="CaseonIT">
          </div>
          <div class="cell companies">
            <img src="images/deloitte.png" alt="Deloitte">
          </div>
          <div class="cell companies">
            <img src="images/adstream.jpeg" alt="Adstream">
          </div>
        </div>
      </div>
      <div class="table center">
        <div class="row">
          <div class="cell companies">
            <img src="images/ugr-tstc.png" alt="TSTC">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="more">
    <div class="jumbotron bisque">
      <h2>{{'MORE' | translate}}</h2>
      <p class="justified">{{'MORE_P1' | translate}}</p>
      <div class="table center">
        <div class="row">
          <div class="cell">
            <contact-info-extended></contact-info-extended>
          </div>
          <div class="cell cv">
            <a ng-href="cv/AlejandroFernandez-{{lang}}.pdf">
              {{'DOWNLOAD_CV' | translate}}<br>
              <img src="images/cv.png" alt="CV">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/fullpage.js"></script>
